<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add a note </title>
</head>
<body>
    <label> Введите Свои данные </label><br />
    <form method="post" action="/Creat/Index">
        <label>Имя :</label> 
        <br />
        <input type="text" name="name" />
        <br />
        <label>Email :</label> 
        <br />
        <input type="text" name="gmail" />
        <br />

        <input type="submit" value="Я съел спаржу" />
    </form>
    <a href="/Home/Index">Вернуться на главную</a>
    
</body>
</html>