<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add a note </title>
</head>
<body>
    <label> Введите Свои данные </label><br />
    <form method="post" action="/Creat/Registration">
        <label>Имя :</label>
        <br />
        <input type="text" name="fName" />
        <br />
        <label>Фамилия :</label>
        <br />
        <input type="text" name="lName" />
        <br />
        <label>Email :</label> 
        <br />
        <input type="text" name="gmail" />
        <br />
        <input type="submit" value="Зарегистрироваться" />
    </form>
    <a href="/Home/Index">Вернуться на главную</a>

</body>
</html>
